// Fonts
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font-family-sans-serif: "Zen Kurenaido", sans-serif !default;

$enable-rounded: false !default;
$font-size-base: 0.7rem !default;
$blue: #40639F !default;
$line-height-base: 1 !default;

body {
  background-color: black !important;
}