<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Debug" value="..\AspNetCore.SassCompiler\bin\Debug" />
    <add key="Release" value="..\AspNetCore.SassCompiler\bin\Release" />
  </packageSources>
</configuration>